/* Bandeau fixe */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  background: #222;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 1000;
}

.navbar nav {
  display: flex;
  gap: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navbar a:hover {
  color: #00bcd4;
}

/* Décalage du contenu pour ne pas passer sous le bandeau */
.content {
  padding-top: 80px;
  background: #3838383a;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

/* FLEX CONTAINER */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

/* CARTE */
.card {
  width: 275px;
  height: 400px;
  background: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translate(0, -5px);
  transform: scale(1.25);
  box-shadow: 0 10px 25px rgba(0,0,0,1);
}

/* IMAGE */
.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.card h2 {
  font-size: 20px;
  margin: 10px 0 5px;
}

.card p {
  font-size: 14px;
  color: #555;
}



.select-container select {
  width: auto;
  padding: 8px 12px;
  border-radius: 15px;
  background: #4a4a4a;
  color: white;
  font-size: 15px;
  margin-left: 20%;
}

.select-container {
  position: relative;
  width: 150px;
  margin-bottom: 20px;
}

.page-tableau {
  padding: 40px;
  font-family: Arial, sans-serif;
}

.table-especes {
  width: 80%;
  border-collapse: collapse;
  background: white;
  margin: 0 auto;
  box-shadow: 0 25px 25px #00000000;
}

.table-especes th,
.table-especes td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-especes th {
  background-color: #f4f4f4;
  text-align: left;
}

.table-especes tr:hover {
  border: 2px solid #0000003a;
}



.page {
  padding: 40px;
  font-family: Arial, sans-serif;
}

.form-ajout {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  gap: 12px;
}

.form-ajout input,
.form-ajout textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form-ajout button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #4a4a4a;
  color: white;
  cursor: pointer;
}

.form-ajout button:hover {
  background: #333;
}



.image {
  padding: 40px;
  font-family: Arial, sans-serif;
}
